@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <table class="table tab-content">
        <thead>
            <tr>
                <th>#</th>
                <th>Autor</th>
                <th>Tytuł</th>
                <th>Liczba stron</th>
                <th>Czy wypożyczona</th>
                <th>Nazwisko wypożyczającego</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th>1.</th>
                <td>Leszek Lewandowski</td>
                <td>Programowanie w C#</td>
                <td>456</td>
                <td>Tak</td>
                <td>Jan Kowalski</td>
            </tr>
            <tr>
                <th>1.</th>
                <td>Leszek Lewandowski</td>
                <td>Programowanie w C#</td>
                <td>456</td>
                <td>Tak</td>
                <td>Jan Kowalski</td>
            </tr>
            <tr>
                <th>1.</th>
                <td>Leszek Lewandowski</td>
                <td>Programowanie w C#</td>
                <td>456</td>
                <td>Tak</td>
                <td>Jan Kowalski</td>
            </tr>
        </tbody>
    </table>

</div>

